$brand: rgba(251, 208, 10, 1);

$black: rgba(0, 0, 0, .84);
$grey: rgba(0, 0, 0, .54);
$dark-grey: rgba(0, 0, 0, .68);
$darkest-grey: rgba(66, 66, 66, 1);
$light-grey: rgba(0, 0, 0, .06);
$lightest-grey: rgba(0, 0, 0, .04);
$middle-grey: rgba(0, 0, 0, .12);
$footer-socials: rgba(222, 222, 222, 1);

$instagram: #BC2A8D;
$youtube: #FF0000;
$twitch: rgb(172, 70, 240);
$github: #181717;
$email: #4997E3;