$brand: rgba(251, 208, 10, 1);

$black: rgba(0, 0, 0, .84);
$grey: rgba(0, 0, 0, .54);
$dark-grey: rgba(0, 0, 0, .68);
$light-grey: rgba(0, 0, 0, .06);
$middle-grey: rgba(0, 0, 0, .12);

$instagram: #BC2A8D;
$youtube: #FF0000;
$twitch: #6441A4;
$github: #181717;